ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  text-decoration: none;
  list-style-type: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  padding: auto, 10px;
}
.gallery-image {
  width: 300px;
  height: auto;
}
